.Portfolio {
  background-image: url("../../Assets/portfolio.jpg");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 70%;
  min-height: 25em;
  width: 100%;
  display: inline-block;
}

.gridItem {
  grid-column: span 1;
  z-index: 45;
}

.gridItem img,
.gridItem a {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.25em;
  padding: 0;
  margin-bottom: 1em;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  opacity: 0;
  width: 95%;
  margin: 0 auto;
  margin-top: 2em;
  z-index: 40;
}

.fadeIn {
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.ImageMainView {
  background-image: url("../../Assets/portfolio.jpg");
  background-size: cover;
  display: inline-block;
}

.ImageMainView img {
  width: 90%;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 1em;
}