html,
body {
  background-color: rgb(43, 43, 43);
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  text-transform: lowercase;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 800;
}

h1 {
  font-size: 2em;
  letter-spacing: -0.04em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
  transition: 0.3s;
  padding-right: 0.2em;
  border-right: 0.08em rgba(194, 194, 194, 0) solid;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: lowercase;
  z-index: 100;
}

.Header a:hover {
  color: #ecc5c1;
  padding-right: 0.2em;
  border-right: 0.08em #ecc5c1 solid;
  text-decoration: none;
}

/* Footer */

.Imprint {
  display: inline-block;
}

.row.devlight {
  margin-top: 3em;
}

.col-12 img {
  transition: 0.3s;
}

.col-12 img:hover {
  opacity: 0.7;
}

.row.contentful {
  margin-top: 2em;
}

.contentful img {
  height: 2em;
}

.Imprint, .row {
  z-index: 10;
}

.row#head {
  margin-top: 5em;
  justify-content: center;
}

.row#Privacy {
  font-size: .5em;
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  text-transform: initial;
}

.row#Privacy h4 {
  font-size: .8em;
}

.row#Imprint {
  margin-top: 2em;
}

.row#Imprint h4 {
  font-size: 1.4em;
}

.row#Imprint h5 {
  font-size: .9em;
  font-weight: 800;
  margin-top: -0.5em;
}

.row#Imprint a {
  font-weight: 300;
  font-size: .7em;
  color: #ecc5c1;
}

.row#Imprint a:hover {
  color: white;
  text-decoration: none;
}