html,
body {
  background-color: rgb(43, 43, 43);
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  text-transform: lowercase;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 900;
}

h1 {
  font-size: 2em;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
  transition: 0.3s;
  padding-right: 0.2em;
  border-right: 0.1em rgba(194, 194, 194, 0) solid;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: lowercase;
}

.Header a:hover {
  color: rgb(194, 194, 194);
  padding-right: 0.2em;
  border-right: 0.1em rgb(194, 194, 194) solid;
  text-decoration: none;
}

