@media screen and (min-width: 280px) and (max-width: 350px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .gridItem img, .gridItem a{
    width: 80%;
  }

  .Context, .Portfolio {
    min-height: 10em !important;
  }
  
  .row.social {
    width: 85%;
    margin-top: 8em;
  }
  .row#Imprint h4{
    font-size: .8em;
  }
  .row#Imprint h5 {
    font-size: .4em;
  }
  .row#Imprint a {
    font-size: .5em;
  }
}

@media screen and (min-width: 351px) and (max-width: 561px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .gridItem img, .gridItem a{
    width: 80%;
  }

  .Context, .Portfolio {
    min-height: 21em;
  }
  .row.social {
    width: 65%;
    margin-top: 8em;
  }
  .row#Imprint h4{
    font-size: .7em;
  }
  .row#Imprint h5 {
    font-size: .6em;
  }

  .head h1{
    font-size: 1.4em;
  }

  .head p {
    font-size: .8em !important;
  }
}

@media screen and (min-width: 561px) and (max-width: 810px) {
  .Context {
    height: 30em;
  }

  
}

@media screen and (min-width: 561px) and (max-width: 1050px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .row.social {
    width: 45%;
    margin-top: 8em;
  }
  .ImageMainView img {
    height: 93%;
  }
}
